.intro {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-color: #141414
}
/* halo bang dea sorry yak yang di CSS nya dikit bgt. belom terlalu fasih buat mainin disini, jadi sebagian besar gw
coding in di index.html sebelah hehe */



